@charset "utf-8";
/* CSS Document */




/* news content */
.news_container{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #AAA;
	background-image: url(../images/newsbg.png);
/*	border-bottom-color: #FFFFFF;*/
	border-spacing: 1px 1px;
}

.news .sidebar-widget-header span{
	font-size: 18px;
}

.news h2{
	font-size: 20px;/*	color: #FFF;
	
	text-align: center;
	font-style: normal;
	margin-bottom: 4px;*/
}
.sidebar-widget-header{
	text-align: center;
/*	border-bottom: 1px solid #888;*/
	color: #FFF;
	font-size: x-large;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
/*	font-style: italic;*/
	font-weight: normal;
	margin-bottom: .7em;
	margin-top: 5px; 
}
.news h4{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}


.news p{
	color: #BBB;
	font-size: 15px;
	line-height: 20px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	/*border-bottom: 0px solid #888;*/
}
.date{
/*	color: #09F;*/
	color: #BBB;
/*	float: right;*/
	text-decoration: none;
	margin-right: 17px;
	font-size: 12px;
	font-style: italic;
}
.detail{
	color: #06F;
	text-decoration: none;
	font-size: 12px;
}


.simple-scroll {
position: relative;
width: auto;
height: 150px;
overflow-x: hidden;
}
.simple-scroll::-webkit-scrollbar {
width: 7px;
}

.simple-scroll::-webkit-scrollbar-thumb {
background: #EEE;
/*-webkit-border-radius: 7px;
-moz-border-radius: 7px;
-ms-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px;*/
}
.simple-scroll::-webkit-scrollbar-track {
background: #001;
/*-webkit-border-radius: 7px;
-moz-border-radius: 7px;
-ms-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px;*/
}





/*/*Retina iPad in portrait & landscape.*/
/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
}
 
/*iPhone 5 in portrait & landscape*/
/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {	 
}*/

@media only screen 
and (min-width : 769px)  {
.news_container{
	position: relative;
	width: 100%;
	height: 300px !important;
	background-color: #AAA;
	background-image: url(../images/newsbg.png);
/*	border-bottom-color: #FFFFFF;*/
	border-spacing: 1px 1px;
}

.sidebar-widget-header{
/*	border-bottom: 0px solid #888;*/
}
.news p{

	color: #276456;
	
}
.news{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 200px !important;
	padding-right: 14px;
	padding-left: 14px;
	color: #330099;/*	border-radius: 20px;*/
	top: 31px;
	margin-top: -232px;
}

.text_bg{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 230px !important;
	background-color: #00FFD6;
	/*	border-radius: 20px;*/
	opacity: 0.15;
	top: 28px;
}
.simple-scroll {
	height: 150px;
	overflow-y: visible;
}
.loadmore{
	display: none;
	top: -108px;
}
.allnewsbutton{
	display: run-in;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	position: relative;
	height: 20px;
	text-align: right;
	padding-right: 29px;
	margin-top: 0px;
	top: 25px;
	left: 2px;
}
.allnewsbutton a{
	height: 20px;
	line-height: 5px;
	background-color: #131E27;
	color: #FFFFFF;
	opacity: 0.5;
}
.allnewsbutton a:hover{
	height: 20px;
	line-height: 5px;
	background-color: #428BCA;
	color: #00FF66;
	opacity:1;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
z-index: 2;
color: #ffffff;
background-color: rgba(0, 0, 0, 0.25);
border-color: rgba(102, 103, 107, 0);
}
.list-group-item {
background-color: #FFF;
border: 1px solid rgba(221, 221, 221, 0);

}
a.list-group-item .list-group-item-heading {
color: rgba(10, 71, 61, 0.74);
}
}
/*iPhone 5 to ipad  in portrait*/
@media only screen 
and (min-width : 0px) 
and (max-width : 768px) {
.news_container{
	position: relative;
	width: 100%;
	height: 160px;
	background-color: #FC9;
	background-image: url(../images/newsbg.png);
}
.news{
	position:relative;
	width:100%;
	height: 120px;
	margin-left: 0%;
	margin-right: 0%;
	padding-right: 14px;
	padding-left: 14px;
	border-radius: 0px;
	top: 0px;/*the new texts are relatively under the text background. this property shift the news text on top of the text background*/
	border-bottom: 1px solid #888; 
	overflow-y: hidden;
}

.text_bg{
	position:absolute;
	height:160px;
	width:100%;
	margin-left: 0%;
	margin-right: 0%;
	border-radius: 0px;
	background-color: #222;
	top: 0px;/*shift from 24 px down to 0px, from browser view to mobile view*/

}
.allnewsbutton{
	display:none;
}
.simple-scroll {
	height:auto;
	overflow-y: hidden;
	
}

.loadmore{
	position: relative;
	color: #fff;
	cursor: pointer;
	height: 40px;
	width: 100%;
	text-align:center;
	display: run-in;
}
.loadmore:hover{
	color:#FFF;
	text-shadow: 0px 0 3px #FFF;
	position: relative;
	height:40px;
	width:100%;	
}
.loadmore img{
	margin-top: -16px;	
}

	 
}
