@charset "utf-8";
/* CSS Document */


#logo{
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-nav{
	margin-left: 10%;	
	
}
.slider1{

	width: 100%;
	height: 400px;
	background-repeat: repeat-x;
	background-image: url(../images/mydesign4.png);
	background-position: center;
	background-size: auto 400px;


}
.slider2{
	width: 100%;
	height: 400px  ;
	background-repeat: repeat-x;
	background-image: url(../images/slide1.png);
	background-position: center;
	background-size: auto 400px;
}
.slider3{
	width: 100%;
	height: 400px;
	background-image: url(../images/mydesign4.png);
	background-size: auto 400px;
	background-position: center;
	background-repeat: repeat-x;
}
#A1{
	position: absolute;
	text-align: left;
}

/*silde-indicator content */
.carousel-indicators {
	bottom: 0px;   /* override bootstrap code . indicators bottom margin to sldie */
	float: left;
	left: 0px; 
	z-index: 15;
	width:50%; 
	padding-left: 0px;
	margin-left: 0px; 
}
ul, ol {
	margin-bottom: 0px; /* override bootstrap code indicators bottom margin to sldie*/
}
.carousel-indicators li {
	display: inline-block;
	width: 50px;
	height: 30px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #FFF;
	border-radius: 0px;  
	margin-bottom: 0px;  /* override bootstrap code  indicators bottom margin to sldie*/
}
#minislide1{
	background-color: #F4F4F4;
	background-image: url(../images/mydesign3.png);
	background-size: 127px auto;
	background-position: -72px 32%;
}
#minislide2{
	background-color: #F4F4F4;
	background-image: url(../images/mydesign3.png);
	background-size: 127px auto;
	background-position: -72px 32%;
}
#minislide3{
	background-color: #F4F4F4;
	background-image: url(../images/mydesign3.png);
	background-size: 127px auto;
	background-position: -72px 32%;
}
.carousel-indicators .active {
	width: 50px;
	height: 30px;
	margin: 1px;
	background-color: #ffffff;
	margin-bottom: 8px;
}
.carousel-indicators li:hover {
  width: 50px;
  height: 30px;
  border: 3px solid #1DD9FF;
  background-color: #ffffff;
}


/*story content */
/*.story{
	width:240px;
	height:400px;
	margin: 5px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(183, 192, 199);
    color: rgb(136, 136, 136);
    float: left;
    font-size: 0.9em;
    padding: 6px;
    position: relative;
    text-decoration: none;
}*/
@media only screen and (min-width: 250px) {
.col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;

}

.col-lg-3 {
    width: 100%;
}

}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 500px) {
.col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;

}

.col-lg-3 {
    width: 50%;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 750px) {
.col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;

}

.col-lg-3 {
    width: 33.33%;
}
}

@media only screen and (min-width: 1000px) {
.col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;

}

.col-lg-3 {
    width: 25%;
}
}

.mycontainer {
	/* [disabled]padding-right: 15px; */
	/* [disabled]padding-left: 15px; */
	margin-right: auto;
	margin-left: auto;
}

.mycontainer:before,
.mycontainer:after {
  display: table;
  content: " ";
}

.mycontainer:after {
  clear: both;
}

.mycontainer:before,
.mycontainer:after {
  display: table;
  content: " ";
}

.mycontainer:after {
  clear: both;
}
@media (min-width: 260px) {
  .mycontainer {
	-webkit-transition-property: background color;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease;
    width: 260px;
  }
}
@media (min-width: 510px) {
  .mycontainer {
	-webkit-transition-property: background color;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease;
    width: 510px;
  }
}
@media (min-width: 760px) {
  .mycontainer {
	-webkit-transition-property: background color;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease;
    width: 760px;
  }
}
@media (min-width: 1010px) {
  .mycontainer {
	-webkit-transition-property: background color;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease;
	width: 1010px;
  }
  
}
@media (min-width: 1260px) {
  .mycontainer {
	-webkit-transition-property: background color;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease;
	width: 1260px;
  }
  
}
@media (min-width: 1510px) {
  .mycontainer {
	-webkit-transition-property: background color;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease;
	width: 1510px;
  }
  
}

/* MARKETING CONTENT
-------------------------------------------------- */
.mycontainer {
margin: 0 auto;
}

.story{
	width:226px;
	height:226px;
	margin: 6px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(183, 192, 199);
    color: #FB4;
    float: left;
    font-size: 0.9em;
    padding: 6px;
    position: relative;
    text-decoration: none;
}

.marketing .story {
	text-align: center;
	margin-bottom: 20px;
}

.marketing h2 {
  font-weight: normal;
}
.postthumb{
	position: relative;
	width: 226px;
	-webkit-transition-property: background color;
	-webkit-transition-duration: 2s;
	-webkit-transition-timing-function: ease;
	background-repeat: no-repeat;
	background-size: 226px 226px;
	height: 226px;
	z-index: 23;
	margin-top: -7px;
	margin-left: -7px;
}

.postthumb:hover{

	-webkit-transition-property: background color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	background-position: 0px 226px;
	text-decoration: none;
}
.thumbs-hovering{
	height: 226px;
	text-decoration: none;
	background-color: #fff;
	margin-top: -19px;
}
.thumbs-hovering div{
	position: absolute;
	font-size: 10pt;
	width: 226px;
	height: 19px;
	color: #888;
	top: 18px;
}
.thumbs-hovering h2{
	position: absolute;
	font-size: 16pt;
	width: 226px;
	height: 19px;
	top: 34px;
	text-align: center;

}
.thumbs-hovering p{
	position: absolute;
	font-size: 12pt;
	width: 216px;
	height: 19px;
	top: 60px;
	color: #000;
	text-align: center;
	
}



/* Footer CONTENT
-------------------------------------------------- */
footer{
	color: #000000;
	font-style: normal;
}
